{% extends 'base.html.twig' %}

{% block body %}
<h1 class="text-center">About us</h1>
<div class="row">
    <div class="col col-md-12">
        <div class="text-center">
        A store that specializes in selling camera products.
        </div>
    </div>
</div>
<div class="center">
    <div class="center">
	
	</div>
</div>
{% endblock %}
