{% extends 'base.html.twig' %}

{% block body %}
<h1 class="text-center">About us</h1>
<div class="row">
    <div class="col col-md-12">
        <div class="text-center">
        A store that specializes in selling camera products.
        </div>
    </div>
</div>
<div class="center">
    <div class="center">
	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1964.5094458222425!2d105.76018572607437!3d10.015297898613213!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31a089c374f10c4b%3A0x362c76e5d5e73d14!2zQ2FmZSBQSOG7kCAyNEg!5e0!3m2!1svi!2s!4v1647837752525!5m2!1svi!2s" width="400" height="250" style="border:4;" allowfullscreen="" loading="lazy"></iframe>
	</div>
</div>
{% endblock %}
