<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}
				Welcome!

			{% endblock %}
		</title>
		<link
		rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128
			            128%22><text y=%221.2em%22 font-size=%2296%22>⚫</text></svg>">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
			<link href="{{ asset('mystyle.css') }}" rel="stylesheet"/>
		{% endblock %}
		{% block javascripts %}
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
		{% endblock %}
	</head>
	<body>
		<div class="container-fluid">
			<div class="row content">
				<div class="col-sm-3 sidenav">
					<h4>
						My Shop
					</h4>
					{% if app.user %}
						<a class="nav-link" href="{{ path('app_logout')}}">Logout</a>
					{% else %}
						<script type="text/javascript">
							window.location.href = "/login"
						</script>
					{% endif %}
					<ul class="nav nav-pills nav-stacked">
						<li class="active">
							<a href="{{ path('app_category_index') }}">
								Category
							</a>
						</li>
						<li>
							<a href="/product">
								Products
							</a>
						</li>
						<li>
							<a href="#section3">
								Customers
							</a>
						</li>
						<li>
							<a href="#section3">
								Orders
							</a>
						</li>
					</ul>
					<br>
					<div class="input-group">
						<input type="text" class="form-control" placeholder="Search Blog..">
						<span class="input-group-btn">
							<button class="btn btn-default" type="button">
								<span class="glyphicon glyphiconsearch"></span>
							</button>
						</span>
					</div>
				</div>
				<div class="col-sm-9"> {% block body %}{% endblock %}
					</div>
				</div>
			</div>
			<div class="mt-5 pt-5 pb-5 footer">
				<div class="container">
					<div class="row">
						<div class="col-lg-5 col-xs-12 about-company">
							<h2>Heading</h2>
							<p class="pr-5 text-white-50">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac ante mollis quam tristique convallis
							</p>
							<p>
								<a href="#">
									<i class="fa fa-facebook-square mr-1"></i>
								</a>
								<a href="#">
									<i class="fa fa-linkedin-square"></i>
								</a>
							</p>
						</div>
						<div class="col-lg-3 col-xs-12 links">
							<h4 class="mt-lg-0 mt-sm-3">Links</h4>
							<ul class="m-0 p-0">
								<li>-
									<a href="#">Lorem ipsum</a>
								</li>
								<li>-
									<a href="#">Nam mauris velit</a>
								</li>
								<li>-
									<a href="#">Etiam vitae mauris</a>
								</li>
								<li>-
									<a href="#">Fusce scelerisque</a>
								</li>
								<li>-
									<a href="#">Sed faucibus</a>
								</li>
								<li>-
									<a href="#">Mauris efficitur nulla</a>
								</li>
							</ul>
						</div>
						<div class="col-lg-4 col-xs-12 location">
							<h4 class="mt-lg-0 mt-sm-4">Location</h4>
							<p>22, Lorem ipsum dolor, consectetur adipiscing</p>
							<p class="mb-0">
								<i class="fa fa-phone mr-3"></i>(541) 754-3010</p>
							<p>
								<i class="fa fa-envelope-o mr-3"></i>info@hsdf.com</p>
						</div>
					</div>
					<div class="row mt-5">
						<div class="col copyright">
							<p class="">
								<small class="text-white-50">© 2019. All Rights Reserved.</small>
							</p>
						</div>
					</div>
				</div>
			</div>
		</body>
	</html>
